* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: hsl(212, 45%, 89%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 320px;
  height: 499px;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 hsl(0, 0%, 100%, 0.2);
}

.image-div {
  width: 288px;
  height: 288px;
  border-radius: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}

.write-up {
  margin: 1.5rem 0;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 1rem;

  h1 {
    font-weight: 700;
    font-size: 1.35rem;
    margin-bottom: 1rem;
    color: hsl(218, 44%, 22%);
  }

  p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    line-height: 1.3rem;
  }
}
